# General
node_modules/
.DS_Store
dist/
build/
.env
.venv/
__pycache__/

# VIUM Database (Docker & SQLite)
vium-backend/.env
vium-backend/vium.db
vium-backend/docker/
*.db

# Gemini Logs (Optional)
logs/*.log
